<p id="notice"><%= notice %></p>

<p>
  <b>College:</b>
  <%= @analytic.college %>
</p>

<p>
  <b>Amount student used:</b>
  <%= @analytic.amount_student_used %>
</p>

<p>
  <b>Amount money:</b>
  <%= @analytic.amount_money %>
</p>

<p>
  <b>Total on campus:</b>
  <%= @analytic.total_on_campus %>
</p>

<p>
  <b>Year:</b>
  <%= @analytic.year %>
</p>


<%= link_to 'Edit', edit_analytic_path(@analytic) %> |
<%= link_to 'Back', analytics_path %>
