<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @game.username %>
</p>

<p>
  <b>Points:</b>
  <%= @game.points %>
</p>

<p>
  <b>Level:</b>
  <%= @game.level %>
</p>

<p>
  <b>College:</b>
  <%= @game.college %>
</p>

<p>
  <b>Number applications:</b>
  <%= @game.number_applications %>
</p>

<p>
  <b>Date:</b>
  <%= @game.date %>
</p>

<p>
  <b>Money:</b>
  <%= @game.money %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
