<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @appointment.username %>
</p>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Verified:</b>
  <%= @appointment.verified %>
</p>

<p>
  <b>Completed:</b>
  <%= @appointment.completed %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
